<h1><%= @post[:name] %></h1>
<%# Can also be implemented as @post.name %>
<a href=/posts>GO BACK THERE BE DRAGONS</a>
<%= link_to('DELETE', @post, data: {turbo_method: :delete, turbo_confirm: 'W chuj z tym?'}) %>
<%# <a href=<%destroy_post_path(@post)>Delete stuff</a> %>
<h2>trening</h2>
<%= @zmienna %>